/* style.css */
body{
  background: rgb(245,200,245);
  color: blue;
  font-size: 30px;
  font-family: 'Ultra', serif;;
}
h1{
  font-family: Courier;
  color: red;
  font-weight: bolder;
  font-size: 20px;
}
h2 {
  font-family: Courier;
  color: green;
  font-weight: bolder;
  font-size: 15px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}
